
.nav-search {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #ffffff;
  padding: 10px 14px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}


.nav-search select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 40px 10px 14px;

  font-size: 14px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
}


.nav-search select:hover {
  background-color: #f0f0f0;
}

.nav-search select:focus {
  outline: none;
  border-color:  #254d4d;
  box-shadow: 0 0 0 3px  #143333;
}

@media (max-width: 992px) {
  .nav-search {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .nav-search select {
    width: 100%;
    min-width: unset;
  }
}



