
.custom{
    display: flex;
    justify-content: center;
    padding: 50px;
    align-items: center;
}
.form-container {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  color:rgb(22, 71, 67);
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

form input[type="email"],
form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border 0.3s ease;
}

form input[type="email"]:focus,
form input[type="password"]:focus {
  border-color: rgb(22, 71, 67);
  outline: none;
}


form input[type="submit"] {
  width: 100%;
  padding: 12px;
  background: rgb(22, 71, 67);
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background:rgb(22, 71, 67);
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-link a {
  color: rgb(22, 71, 67);
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .form-container {
    padding: 20px;
  }
  form input[type="submit"] {
    font-size: 14px;
    padding: 10px;
  }
}
